* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
* text=auto
*.php text eol=lf
*.jsx text eol=lf
*.ts text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
